    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Roboto-Medium';
        src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Moon-Dance';
        src: url(../fonts/MoonDance/MoonDance-Regular.ttf) format('truetype');
    }
    
    @font-face {
        font-family: 'Roboto-light';
        src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    }
    
    .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(107, 101, 50);
        font-family: 'Moon-Dance';
        font-size: 7vw;
        background-image: url('../images/heading.jpg');
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    header {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        height: 70px;
        background-color: #16166d;
    }
    
    .header {
        font-family: 'Roboto';
        display: flex;
        align-items: center;
        height: 100%;
        .header-logo {
            text-align: center;
            width: 300px;
            color: rgb(206, 206, 206);
            font-size: 25px;
        }
        .header-darkmode {
            display: flex;
            align-items: center;
            width: 300px;
            color: rgb(206, 206, 206);
            font-size: 15px;
            text-align: center;
            #darkmode {
                margin: auto 5px;
                padding: 7px 35px;
                font-size: 15px;
                font-family: 'Roboto-Medium';
                cursor: pointer;
                background-color: #0c0ce2;
                border: none;
                color: #fff;
                transition-duration: 500ms;
                border-radius: 20px;
            }
            #darkmode:hover {
                background-color: #4747ff;
            }
        }
        .header-menu {
            width: 100%;
            .header-list {
                list-style: none;
                display: flex;
                justify-content: space-around;
                a {
                    text-decoration: none;
                    font-size: 30px;
                    color: rgb(212, 212, 212);
                }
            }
        }
    }
    
    .main-menu {
        text-align: center;
        font-family: 'Roboto-Medium';
        max-width: 1100px;
        margin: 20px auto 0;
        ul {
            width: 100%;
            display: flex;
            list-style: none;
            justify-content: space-around;
            .image {
                height: 200px;
                width: 400px;
                margin: 30px 20px 10px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    transition-duration: 0.5s;
                }
                img:hover {
                    transform: scale(1.1);
                }
            }
        }
        @media only screen and (max-width: 1100px) {
            .header .header-menu .header-list {
                display: none;
            }
        }
    }
    
    .article {
        max-width: 1100px;
        line-height: 30px;
        word-spacing: 2px;
        margin: 30px auto 0;
        text-align: center;
        font-family: 'Roboto-Medium';
        p {
            font-family: 'Roboto-Light';
        }
    }